@font-face {
  font-family: 'Raleway';
  src:  url('./Raleway-Regular.ttf') format('truetype'),
        url('./Raleway-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Raleway';
  background: url('./icon.png');
}